body {
    background-color: #355592;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.orangep {
    color: orange;
}

.nav-down {
    background-image: url(../src/Images/hero-man.jpg);
}


/* NAVBAR */

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.navbar-ul li {
    display: block;
    color: white;
    padding: 10px 10px;
    font-size: 20px;
}

.navbar li a {
    color: white;
    text-decoration: none;
}

.navbar-menu-toggle {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 300px;
    margin-right: 500px;
}

.logo {
    margin-left: -30px;
    margin-top: -10px;
}

.done {
    background-image: url(../src/Images/hero-man.jpg);
}

.out-navbar {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbarbg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #355592;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.powerfull {
    color: white;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 200px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid rgb(26, 26, 134);
    display: inline-block;
    padding: 5px 5px;
    color: white;
    background-color: rgb(64, 64, 141);
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.manşet {
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-align: left;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: -20px;
    margin-bottom: 100px;
}

.opak {
    color: white;
    background-color: rgba(0, 0, 0, 0.586);
    font-size: 30px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: -90px;
    margin-bottom: 10px;
}

.join {
    color: white;
    background-color: orange;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}

.signUp {
    color: white;
    background-color: blue;
    border: none;
    padding: 15px 45px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 320px;
    margin-right: 30px;
    margin-top: -50px;
    margin-bottom: 150px;
}

.details {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: 15px 45px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 25px;
    margin-right: 300px;
}

.derece {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-top: -1px;
    justify-content: space-between;
    background-color: rgb(240, 239, 244);
    padding: 30px 300px;
    list-style-type: none;
}

.derece li {
    flex: 1;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 15px 10px;
    margin: 15px;
    font-size: 26px;
}

.num {
    color: rgb(40, 42, 188);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

h1 {
    text-align: center;
}

.secondback {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    background-color: rgba(248, 221, 221, 0.931);
}

.ortala {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    z-index: 1;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(0 100%, 53% 100%, 37% 0, 0 0);
    background-color: white;
    z-index: -1;
}

.divdivdiv {
    z-index: 0;
}


/* BUTTONS */

.container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    z-index: 1;
}

.direction {
    list-style-type: none;
    padding: 10px 100px;
    gap: 200px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.direction li button {
    background-color: blue;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    z-index: 1;
}

.direction li button:hover {
    background-color: orange;
}

.btnimg {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-top: 20px;
    z-index: 1;
}

.btnimg img {
    display: flex;
    max-height: 300px;
    max-width: 500px;
}

.organic {
    flex: 1;
    padding-right: 10px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.organic p {
    margin-top: 20px;
}

.image-content {
    flex: 1;
    padding-left: 10px;
}

.bmi {
    background-color: rgb(247, 255, 255);
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}


/* BMI CALCULATER */

.bmiContet {
    margin-top: 30px;
    width: 1100px;
    margin-left: 200px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.yourbm {
    margin-top: 30px;
    margin-right: 200px;
}

.divdir {
    position: relative;
}

.divdir2 {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: yellow;
    border: 1px solid black;
    left: 50px;
    transition: left 0.3s;
}


/* OUR BEST TRAINERS */

.part-3 {
    background-color: rgb(240, 240, 253);
    margin-bottom: -50px;
}

.trainers {
    display: flex;
    flex-direction: column;
    margin-right: 30%;
    margin-left: 30%;
    gap: 20px;
    margin-bottom: 50px;
}

.part-3-up {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.image-container {
    position: relative;
    width: auto;
    height: auto;
    transition: all 0.3s ease;
    margin-bottom: 50px;
    z-index: 1;
}

.image-container img {
    border: 2px solid yellow;
}

.divdiv2 {
    position: absolute;
    content: "";
    width: 106%;
    height: 90px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgb(32, 30, 152);
    z-index: -1;
}

.divdiv3 {
    position: absolute;
    content: "";
    width: 115%;
    height: 105%;
    transform: translate(-50%, -50%) rotate(90deg);
    top: 50%;
    left: 50%;
    background-color: rgb(32, 30, 152);
    z-index: -1;
}

.bottombox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.boxbox {
    position: absolute;
    content: "";
    width: 90%;
    height: 45%;
    background-color: rgb(80, 119, 210);
    z-index: 1;
    top: calc(100% + -40%);
    left: 50%;
    transform: translate(-50%, -50%);
}

.boxbox2 {
    position: absolute;
    content: "";
    width: 40%;
    height: 250%;
    left: 0;
    background-color: rgb(80, 119, 210);
    z-index: 1;
    top: calc(100% + -50%);
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.bottombox:hover {
    opacity: 1;
}

.bottombox .overlay {
    color: white;
    text-align: center;
    z-index: 3;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container:hover .divdiv2 {
    height: 150px;
    transition: all 0.4s;
}

.image-container:hover .bottombox {
    opacity: 1;
}

.down-images {
    display: flex;
    gap: 30px;
    margin-left: 350px;
    margin-right: 200px;
}

.down-images img {
    height: 350px;
}

.part-3-down {
    margin-top: 30px;
    background-color: white;
}


/* Cards */

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 10px 2px 50px rgba(0, 0, 0, 0.353);
}

.card img {
    width: 100%;
    height: auto;
}

.card-info {
    padding: 20px;
    background-color: #f9f9f9;
}

.card-info h2 {
    margin-top: 0;
}

.card-info p {
    margin: 10px 0;
}

.card-icon {
    display: flex;
    gap: 50px;
}

.card-icon img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.down-images {
    margin-top: 20px;
}


/* OUR BEST TRAINERS */

.text-map {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 500px;
}

.part-4 {
    background-color: white;
}

.part-4-down {
    margin-top: 40px;
}

.part-4-up {
    background-color: aliceblue;
}

.purchasetext {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-left: 25%;
    margin-right: 20%;
    font-size: 18px;
    gap: 30px;
    margin-bottom: 50px;
}

.purchasetext h1 {
    margin-top: 30px;
}

.revtext {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-right: 30%;
    margin-left: 30%;
    gap: 10px;
}

.review-item {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.review-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.together {
    display: flex;
    align-items: center;
    gap: 20px;
}

.review-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 30px;
    margin-right: 25%;
    margin-left: 25%;
    max-width: 100%;
}

.review-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message-container {
    position: relative;
    max-width: 300px;
}

.message-balloon {
    background-color: #4227c9;
    padding: 10px;
    color: white;
    position: relative;
}

.message-balloon::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: #5638ea transparent transparent transparent;
}

.message-balloon::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #5638ea transparent transparent transparent;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 30px;
}

.footer-up {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
}

.footer-up img {
    width: 250px;
    height: 100px;
}

.footer-down {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.footer-down p {
    margin-top: 5px;
}

.comtext {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
    .image-container {
        position: relative;
        width: auto;
        height: auto;
        margin-bottom: 30px;
        z-index: 1;
        margin-bottom: 100px;
    }
    .image-container img {
        border: 1px solid yellow;
    }
    .divdiv2 {
        width: 115%;
        height: 30%;
        z-index: -1;
        margin-left: 7px;
    }
    .divdiv3 {
        width: 118%;
        height: 75%;
        z-index: -1;
    }
    .bottombox {
        height: 40%;
    }
    .boxbox {
        height: 40%;
        top: calc(100% + -30%);
        margin-left: 5px;
    }
    .boxbox2 {
        height: 250%;
        top: calc(100% + -60%);
    }
    .bottombox {
        margin-bottom: 20px;
    }
    .bottombox .overlay {
        top: 70%;
        font-size: 13px;
    }
    .image-container:hover .divdiv2 {
        height: 80%;
        transition: all 0.4s;
    }
    .image-container:hover .bottombox {
        opacity: 1;
    }
    body {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        overflow-x: hidden;
    }
    .done {
        height: 770px;
        max-width: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .out-navbar {
        background-image: url(../src/Images/hero-man.jpg);
        height: 770px;
        max-width: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .navbar {
        display: flex;
        max-width: 90%;
        margin-left: 0;
        margin-right: 0;
        justify-content: space-between;
        align-items: center;
    }
    .menu-wrapper {
        width: 100%;
    }
    .navbar-menu-toggle {
        display: block;
        order: 2;
    }
    .navbar-menu-toggle span {
        background-color: white;
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px;
    }
    .navbar-menu-toggle.active span:nth-child(2) {
        display: none;
    }
    .navbar-menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg);
        top: 11px;
    }
    .navbar-menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg);
        top: 11px;
    }
    .navbar-menu-toggle.active span {
        background-color: rgb(59, 48, 131);
        max-width: 30px;
    }
    .navbar-ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 120px;
        right: 0;
        background-color: #355592;
        width: 30%;
    }
    .navbar-ul.active {
        display: flex;
        flex-direction: column;
    }
    .navbar li {
        float: left;
    }
    .navbar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .logo {
        margin-left: 20px;
        margin-top: 20px;
        height: 90px;
        width: 200px;
    }
    .powerfull {
        margin-left: 20px;
        margin-top: 150px;
    }
    .manşet {
        margin-top: 10px;
        margin-left: 20px;
        font-size: 40px;
    }
    .opak {
        max-width: 100%;
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .join {
        margin-left: 20px;
    }
    .nav-down {
        background-image: url(../src/Images/hero-man.jpg);
        max-width: 100%;
    }
    .signUp {
        margin-left: 20px;
        margin-top: 10px;
        width: 40%;
        margin-bottom: 5px;
    }
    .details {
        margin-top: 10px;
        margin-left: 20px;
        width: 40%;
    }
    .derece {
        padding: 15px;
        flex-wrap: wrap;
        max-width: 100%;
    }
    .derece li {
        flex: 1 1 calc(50% - 15px);
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .secondback {
        max-width: 100%;
        position: relative;
        background-size: cover;
        max-width: 100%;
    }
    .container {
        flex-direction: column;
        max-width: 100%;
    }
    .direction {
        flex-direction: row;
        align-items: center;
    }
    .direction-group {
        max-width: 100%;
        margin-bottom: 5px;
    }
    .direction li button {
        font-size: 27px;
        padding: 25px 40px;
    }
    .ortala {
        width: 370;
        text-align: center;
        flex: 1 1 calc(50% - 15px);
    }
    .organic {
        flex: 1;
        padding-right: 10px;
        margin-left: 1px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .organic p {
        margin-top: 20px;
    }
    .image-content {
        flex: 1;
        padding-left: 10px;
    }
    .btnimg {
        flex-direction: column;
        align-items: center;
    }
    .btnimg img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .bmi {
        flex-direction: column;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bmiContet {
        margin-left: 20px;
        max-width: 85%;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .yourbm {
        align-items: center;
        margin-left: 30%;
        font-size: 18px;
        margin-top: -30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .yourbm h1 {
        text-align: left;
        margin-right: auto;
        margin-left: 80px;
    }
    .yourbm img {
        height: 200px;
        width: 400px;
    }
    .divdir2 {
        left: 30px;
    }
    .part-3 {
        align-items: center;
        flex-direction: column;
        max-width: 100%;
    }
    .part-3-up {
        flex-direction: column;
        gap: 20px;
        margin-left: 180px;
        margin-right: 180px;
    }
    .part-3-up img {
        width: 230px;
    }
    .part-3-section {
        max-width: 100%;
    }
    .card {
        width: 80%;
    }
    .card img {
        width: auto;
        height: auto;
    }
    .card-info {
        display: flex;
        flex-direction: column;
        height: auto;
        background-color: #f9f9f9;
    }
    .card-info h2 {
        margin-top: 0;
        text-align: center;
    }
    .card-info p {
        margin: 10px 0;
        text-align: center;
    }
    .card-icon {
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-left: 100px;
    }
    .card-icon img {
        width: 30px;
        height: 30px;
    }
    .down-images {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .part-3-down {
        padding: 20px;
        margin-top: 20px;
    }
    .part-4 {
        font-size: 13px;
        max-width: 100%;
    }
    .part-4-up {
        font-size: 26px;
        max-width: 100%;
        text-align: center;
    }
    .revtext {
        display: flex;
        flex-direction: column;
        margin-right: 10%;
        margin-left: 10%;
    }
    .part-4-up h1,
    .part-4-up p,
    .review-container {
        margin-right: 50px;
        max-width: 100%;
        margin: 0 auto;
    }
    .review-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        margin-top: 20px;
    }
    .review-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .part-4-down {
        max-width: 100%;
        font-size: 26px;
    }
    .part-4-down h1,
    .part-4-down p {
        text-align: center;
        width: 100%;
    }
    .text-map {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 5%;
    }
    .texts {
        text-align: center;
    }
    .texts p,
    .texts h3,
    .texts input {
        max-width: 100%;
        margin-bottom: 10px;
    }
    iframe {
        width: 80%;
        height: 300px;
        border: 0;
        display: block;
    }
    .footer {
        padding: 20px;
        max-width: 100%;
        align-items: center;
    }
    .footer p {
        color: white;
    }
    .footer-up {
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
        font-size: 25px;
        max-width: 100%;
    }
    .footer-up img {
        height: 100px;
        max-width: 100%;
    }
    .footer-down {
        display: flex;
        justify-content: center;
        font-size: 25px;
        margin: 0;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 30px;
        margin-right: 10px;
    }
    .part1,
    .part2 {
        margin-right: 100px;
    }
    .part1 h4,
    .part2 h4 {
        margin-bottom: 10px;
        color: white;
    }
    .comtext {
        display: flex;
        flex-direction: row;
        gap: -250px;
    }
    .inputs {
        max-width: 40%;
        margin-left: 30%;
    }
}